<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/homeLayout :: home_head"> 
<title>A bout </title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="">
<script src=""></script>
<script src=""></script>
<script src=""></script>
<style>
    .fakeimg {
        height: 200px;
        background-color: blueviolet;
    }
    </style>
</head>
<body>
    <!-- <th:block layout:include="layouts/header"/> -->
    <header th:replace="layouts/homeLayout :: home_header"></header>
    <div>
        <div class="container" style="margin-top:30px">
            <div class="row">
              <div class="col-sm-4">
                <h2>Tổng quan</h2>
                <h5>Đồ ăn ngon và ưu đãi</h5>
                <div class="fakeimg" >
                  <img src="http://webcoban.vn/image/flower.gif" alt="hinh ahh khong ton tai">
                </div>
                <p>ShopeeFood không chỉ giúp bạn thỏa mãn niềm đam mê ăn uống mà còn đảm bảo tiết kiệm cho hầu bao của bạn.</p>
                <h3>Đường dẫn nội dung liên quan đến chúng tôi</h3>
                <p></p>
                <ul class="nav nav-pills flex-column">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">You have need help</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                </ul>
                <hr class="d-sm-none">
              </div>
              <div class="col-sm-8">
                <h2>Giới thiệu về chúng tôi</h2>
                <div class="fakeimg"> <img src="q5.jpg" alt="hinh anh khon ton tai"></div>
                <p>Kỷ nguyên công nghệ thế giới ra đời cùng với đó là sự phát triển vượt bậc ứng dụng thông minh giải quyết mọi nhu cầu trong cuộc sống: mua sắm, đi lại, học tập, giải trí… Không nằm ngoài xu hướng này,chúng tôi đã ra đời như một sự đáp ứng hoàn hảo cho nhu cầu đặt đồ ăn trực tuyến.</p>
                <p>Nhắc đến các ứng dụng đặt đồ ăn trực tuyến, những cái tên như GrabFood, Baemin, GoFood, Now,.. chắc hẳn đã quá quen thuộc đối với người tiêu dùng Việt. Thế nhưng có bao giờ bạn nghe đến cái tên xyz</p>
                <p>Không những bảo toàn quyền lợi cho khách hàng và tài xế , ShopeeFood còn liên tục đem đến những ưu đãi vô cùng hấp dẫn như: deal 0đ, freeship extra, mã giảm giá từ đối tác, Flash Sale món ngon theo khung giờ… Ngoài ra còn có nhiều minigame với giá trị quà tặng cực khủng được khởi xướng trên ứng dụng  và fanpage chính thức </p>
                <br>
                <h2> </h2>
                <h5>Rất nhiều siêu ưu đãi</h5>
                <div class="fakeimg"><img src="" alt="chua them hinh anh"></div>
                <p>Mã khuyến mãi hấp dẫn
                  Hiện, ShopeeFood cung cấp rất nhiều voucher ưu đãi hấp dẫn cho người dùng như Freeship, Giảm giá 20K, Giảm giá 30K,.. Tuy nhiên, để sử dụng các mã này, bạn cần phải thanh toán bằng hình thức ShopeePay</p>
                <br>  
                <h5>Đặt món trên website chúng tôi</h5>
                <p>Bước 1: Truy cập theo đường link abc.vn để đến website của chúng tôi<br>
                   Bước 2: Tại giao diện chính của chúng tôi, chọn mục đăng nhập ở góc phải phía trên màn hình <br>
                   Bước 3: Tìm kiếm món ăn hoặc tên quán mà bạn muốn đặt<br>
                   Bước 4: Sau khi tiến hàng chọn món, thêm topping và ghi chú cho chủ quán tại mục ghi chú, bạn ĐẶT TRƯỚC để tiến hành thanh toán<br>
                   Bước 5: Kiểm tra lần cuối các thông tin cần thiết (địa chỉ, số điện thoại, mã freeship giảm giá, số lượng món, phương thức thanh toán…) tại cửa sổ xác nhận đơn hàng
                   Bước 6: Nhấn ĐẶT HÀNG để hoàn tất thủ tục đặt món.</p>
              </div>
            </div>
    </div>
    <footer th:replace="layouts/homeLayout :: home_footer"></footer>
</body>