<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/homeLayout :: home_head"> 
</head>
<body>
    <!-- <th:block layout:include="layouts/header"/> -->
    <header th:replace="layouts/homeLayout :: home_header"></header>
    <div><br>
        <div class="jumbotron col-sm-5 mx-auto">
            <h2 class="text-center">Tham gia ngay với chúng tôi</h2><br>
            <form action="user-login" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" placeholder="" required class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label for="phone">Phone number:</label>
                    <input type="text" name="phone" id="phone" placeholder="" required class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label for="card">Identity card:</label>
                    <input type="text" name="card" id="card" placeholder="" required class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="email" id="email" placeholder="" required class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <textarea class="form-control form-control-lg" rows="3" placeholder="" name="address"></textarea>
                </div>
                <br>
                <input type="submit" value="Submit" class="btn btn-primary btn-block">
                <br>
                <h3 style="color:red;" th:text="${message}"></h3>
                <br>
        </div>
    </div>
    <footer th:replace="layouts/homeLayout :: home_footer"></footer>
</body>

</html>