<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/homeLayout :: home_head"> 
</head>
<body>
    <!-- <th:block layout:include="layouts/header"/> -->
    <header th:replace="layouts/homeLayout :: home_header"></header>
    <div><br>
        <div class="jumbotron col-sm-5 mx-auto">
            <h2 class="text-center">Đặt hàng ngay</h2><br>
            <form action="#" method="post">
                <div class="form-group">
                    <label for="username">Nơi đặt hàng:</label>
                    <input type="text" name="username" id="username" placeholder="" required class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label for="password">Nơi giao hàng:</label>
                    <input type="text" class="form-control form-control-lg	" placeholder="" required name="password" id="password">
                </div>
                <div class="form-group">
                    <label for="phone">Giá trị đơn hàng:</label>
                    <input type="text" name="phone" id="phone" placeholder="" required class="form-control form-control-lg">
                </div>
                <div class="form-group">
                    <label for="note">Ghi chú:</label>
                    <input type="text" name="note" id="note" placeholder="" required class="form-control form-control-lg">
                </div>
                <br>
                <input type="submit" value="Done" class="btn btn-primary btn-block">
                <br>
                <h3 style="color:red;" th:text="${message}"></h3>
                <br>
        </div>
    </div>
    <footer th:replace="layouts/homeLayout :: home_footer"></footer>
</body>

</html>