<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/homeLayout :: home_head"> 
</head>
<body>
    <!-- <th:block layout:include="layouts/header"/> -->
    <header th:replace="layouts/homeLayout :: home_header"></header>
    <div>
        <div class="container my-5"><br>
    
            <div class="jumbotron border col-sm-5 mx-auto">
                <h2 class="text-center">Register</h2><br>
                <form action="user-login" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username" placeholder="Enter Your Username" required class="form-control form-control-lg">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control form-control-lg	" placeholder="Enter Your Password" required name="password" id="password">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone number:</label>
                        <input type="text" name="phone" id="phone" placeholder="Enter Your Phone number" required class="form-control form-control-lg">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email" placeholder="Enter Your Email" required class="form-control form-control-lg">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="address">Address:</label>
                        <textarea class="form-control form-control-lg" rows="3" placeholder="Enter Your Address" name="address"></textarea>
                    </div>
                    <span style="margin-top: 10px">Already have an account <a class="linkControl" href="login">Login here</a></span> <br><br>
                    <input type="submit" value="Register" class="btn btn-primary btn-block">
                    <br>
                    <h3 style="color:red;" th:text="${message}"></h3>
                    <br>
    </div>
    <footer th:replace="layouts/homeLayout :: home_footer"></footer>
</body>
