<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="admin_head">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
	integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<title>Trang chủ Admin</title>
<style>
.collapse { padding: 5px 5px;}
.collapse ul {
	margin: 0; padding: 0px;
}
.collapse li {
	padding: 5px;
	position: relative;
	list-style: none;
}
.collapse li:hover { background-color: #818181; }
.collapse .topmenu ul {
	display:none;
	position: absolute;
	background-color: #343a40;
}
.collapse li:hover > ul { display: table; }
.collapse ul.submenu {
	top: 100%;
	margin-left: -20px;
}
.collapse ul.submenu li { padding: 10px 20px; }
</style>
</head>

<body>
<header th:fragment="admin_header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<div class="collapse navbar-collapse">
				<ul class="mr-auto"></ul>
				<ul class="navbar-nav">
					<li class="topmenu"><a class="nav-link" href="/admin">Home Page</a></li>
					<li class="topmenu"><a class="nav-link">Manage</a>
						<ul class="submenu">
							<li><a class="nav-link" href="/admin/shipper">Shippers</a>
							<li><a class="nav-link" href="/admin/order">Orders</a>
							<li><a class="nav-link" href="/admin/user">Users</a>
						</ul>
									
					</li>
					<li class="topmenu"><a class="nav-link" href="/admin/thong-ke">Statistic</a></li>
					<li class="topmenu"><a class="nav-link" href="/admin/bao-cao">Report</a></li>
					<li class="topmenu"><a class="nav-link" href="/admin/login">Logout</a></li>

				</ul>
			</div>	
		</div>
	</nav>
</header>
<div th:fragment="admin_content">
  <p>Changing contents</p>
</div>
</body>
</html>