<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/adminLayout :: admin_head"> 
</head>
<body>
    <header th:replace="layouts/adminLayout :: admin_header"></header>
    <div class ="container">
		<div class = "row">
			<h1> List orders </h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/admin/order/new}" class = "btn btn-primary btn-sm mb-3"> Add order</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> order startPoint</th>
					<th> order endPoint</th>
					<th> order value</th>
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "order: ${orders}">
					<td th:text = "${order.startPoint}"></td>
					<td th:text = "${order.endPoint}"></td>
					<td th:text = "${order.value}"></td>
					<td>
						<a th:href = "@{/admin/orders/edit/{id}(id=${order.id})}"
						 class = "btn btn-primary">Update</a>
						
						<a th:href = "@{admin/orders/{id}(id=${order.id})}"
						 class = "btn btn-danger">Delete</a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>